* {
    background:     #1E2326;
    background-alt: #293034;
    foreground:     #D8DEE9;
    selected:       #A7E4F2;
    active:         #A3BE8C;
    urgent:         #E54B4B;
    blue:			#07B2D9;
}
